div {
  display: flex;
justify-content: space-between;
}

.parent {
  font-size: 18px;
  font-weight: bolder;
  color: navy;
  justify-content: space-between;
  display: flex;
}

.text {
  font-size: 14px;
  font-weight: bold;
  color: navy;
  display: flex;
  list-style: none;
}


.example {
  font-size: 30px;
  font-weight: normal;
  color: black;
  text-align: left;
  margin-top: 250px;
}

.box {
  width: 900px;
  height: 150px;
  background: navy;
  position: absolute;
  top: 50%;
  z-index: 20;
}

.relative__img {
  position: absolute;
  top: 20%;
  left: 50%;
}

.relative__img {
  width: 500px;
  height: 300px;
  position: absolute;
  z-index: 30;
  right: 0;
}